{% extends "GMotorsports/base.html" %}
{% load static %}
{% block content %}

    <div id="page-wrapper" class="mt-contact">

        <!-- Contact Form -->
        <section class="container">
            <header class="major">
                <h2>Contact us</h2>
            </header>
            <form method="post" action="https://formspree.io/sae@umn.edu">
                <div class="row gtr-uniform gtr-50 center-fit ml-contact">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="name" id="name" value="" placeholder="Name" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="email" id="email" value="" placeholder="Email" />
                    </div>
                    <div class="col-12">
                        <select name="category" id="category">
                            <option value="">- Category -</option>
                            <option value="General Question">General Question</option>
                            <option value="Joining the Team">Joining the Team</option>
                            <option value="Sponsoring">Sponsoring</option>
                            <option value="Donations">Donations</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

    </div>

{% endblock content %}