{% load static %}

<div class="box alt sponsor-background">
	<h2 class="text-center" style="color: maroon;">Thank you to our fantastic sponsors!</h2>
	<!--<div class="row gtr-uniform">-->
		<!--<div class="grid ml-5" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>-->
		<div class="grid ml-sponsor-grid" id="grid">
			<div class="grid-sizer"></div>
			<div class="grid-item">
				<a href="https://www.monsterenergy.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Monster.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.sensata.com/sensata-foundation" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/sensata.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.wirecare.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/WireCare.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.northropgrumman.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Northrop.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.redlinebicycles.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/redline.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.rockwestcomposites.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/RockWest.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://www.sparepartsolutions.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/SparePart.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://amerywisconsin.org/153/Airport" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/CityOfAmery.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://xraylab.esci.umn.edu/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/UMNXRCT.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.valleymachining.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/VMC.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://www.tubebendingspecialists.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Bending.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.tcf.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/TCF.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.spalusa.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/SPAL.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.parktool.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/ParkTool.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="#" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/RMR.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://software.ricardo.com/products/wave" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Ricardo.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.primera.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Primera.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="#" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Kennedy&Kennedy.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://macrofab.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/MacroFab.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.monstertool.com/17/home.htm" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Monster.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.emerson.com/en-us" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Emerson.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.fhr.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/FlintHills.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://earthx.org/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/EarthX.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.skf.com/us" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/SKF.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://dunnbrothers.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/DunnBros.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.craftpattern.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Craft.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://www.textreme.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/TeXtreme.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.americanmuscle.com/mustangwheels.html" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/AmericanMuscle.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://keizerwheels.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Keizer.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://www.compcams.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Comp.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.boeing.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Boeing.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.bosch-motorsport.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Bosch.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.bimba.com/Our-Company/Bimba" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/IMI.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://altatubefab.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Alta.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.atsinc.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/ATS.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://ssf.umn.edu/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/SSF.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://twin-cities.umn.edu/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/UMN.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://jetedge.com/products" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/JetEdge.gif' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.donaldson.com/en-us/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Donaldson.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.cummins.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Cummins.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.superradiatorcoils.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/SRC.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.turck.us/en/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Turck.jpg' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.sae.org/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/SAE.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.pioneermetal.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Pioneer.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.solidworks.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Solidworks.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.oxygenservicecompany.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/OSC.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.polaris.com/en-us/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Polaris.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.hortonww.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Horton.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.mts.com/home/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/MTS.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.napaonline.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/NAPA.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="http://loftech.net/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/LOFTECH.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.ansys.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/ANSYS.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.expresscomposites.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Express.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.honeywell.com/en-us" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Honeywell.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href=https://www.emjmetals.com/"" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/EMJ.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.altium.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Altium.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.3m.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/3M.png' %}">
				</a>
			</div>
			<div class="grid-item">
				<a href="https://www.delta.com/" target="_blank" style="border-bottom-color: transparent;">
					<img class="fit-sponsor" src="{% static 'GMotorsports/images/Sponsors/Delta.png' %}">
				</a>
			</div>
		</div>

	<!--</div>-->
</div>